@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

/* Base font setup */
* {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

/* Tailwind custom variant */
@custom-variant dark (&:where(.dark, .dark *));

/* Theme variables */
@theme {
  --color-primary: #5044E4;
}

/* Tailwind utilities should be imported last */
@import "tailwindcss";
